@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
body {
  height: 100vh;
  width: 100%;
}
.Main-Con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  gap: 20px;
}

.Content {
  line-height: 1.5rem;
  letter-spacing: 1.1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  width: 70vw;
  border: 1px solid;
  border-left: none;
  border-right: none;
}
.Content > p {
  font-weight: 300;
  width: 80%;
}

.Content > ul {
  gap: 10px;
  width: 60vw;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.Content > ul > li > a > img {
  height: 50px;
}

.Sec-Con {
  width: 70vw;
  display: flex;
  justify-content: space-around;
}
.Sec-Con > .Stack {
  flex: 1;
  padding: 20px;
}
.Sec-Con > .vertical {
  border: 1px solid;
  color: #000000;
  height: 45vh;
}
.Sec-Con > .Stack > ul > li {
  list-style: none;
}
.Projs {
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .Content {
    letter-spacing: 1px;
    width: 90vw;
    line-height: 1.3rem;
  }
  .Content > p {
    width: 90vw;
  }
  .Content > ul > li > a > img {
    height: 35px;
  }
  .Sec-Con > .Stack > ul > li {
    list-style: none;
  }
 
